@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Fondo */

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out;
}

/* animacion slider clientes */
.slider{
  width: 75vw;
  height: auto;
  width: auto;
  overflow: hidden;
}

.slider .slide-track{
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(250px * 15);

}

.slider .slide{
  width: 150px;
}

.slider .slide img{
  width: 100%;
}

@keyframes scroll{
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(calc(-150px * 7));
    transform: translateX(calc(-150px * 7));
  }
}